<div class="col-md-6 well">
  <h1 class="text-center">Add new lecture</h1>
  <div ng-controller="CreateLectureCtrl">
    <form name="lectureForm" ng-submit="submitForm()">
      <div class="form-group">
        <label>Url</label>
        <input type="text" name="url" class="form-control" ng-model="lecture.url"> <br>
        <label>Topic</label>
        <input type="text" name="topic" class="form-control" ng-model="lecture.topic">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
