<div class="container">
  <div ng-controller="LecturesCtrl as lecture">
    <div class="well col-md-10 col-md-offset-1">
      <h2 class="text-center">Flatiron Lectures</h2>
      <p class="text-center">Flatiron School students should use Flatiron's new <a href="http://instruction.learn.co/video_lectures/student_login" target="_blank">video lecture store</a></p>



      <p><strong>Filter by topic</strong></p>
      <div ng-repeat="topic in lecture.getTopics()" class="topic_checkbox col-md-3">
        <label class="checkbox label_checkbox">
          <input type="checkbox" ng-model="lecture.filter[topic]" />
          {{ topic }}
        </label>
      </div>

      <div class="col-md-12">
        <br>
        <div class="input-group input-group-md">
          <span class="input-group-addon" id="sizing-addon1"><strong>Search</strong></span>
          <input ng-model="lecture.search" ng-change="lecture.refilter()" class="form-control" placeholder="e.g. Ruby, Rails, JavaScript, https://www.youtube.com/watch?v=t2A6xPbh0I8 etc." />
        </div>

        <hr class="style-four">
      </div>

      <div id="lecture-list-container">
        <div dir-paginate="lecture in (lecture.filteredList | filter:lecture.filterByTopic | itemsPerPage: 10) as filteredLectures">
          <div id="lecture-{{lecture.id}}" class="col-md-12">
            <h4><a ui-sref="show({id: {{lecture.id}}})">{{ lecture.title }}</a> <small>({{ lecture.duration }})</small></h4>
            <p><strong>Topic: {{ lecture.topic }}</strong> <br>
            <small>Published on {{ lecture.published }}</small></p>
            <hr>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <dir-pagination-controls template-url="pagination/mine.tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
