<div ng-controller="LecturesCtrl as ctrl">
  <div class="well col-md-7">
    <p>Filter by topic</p>
    <div ng-repeat="topic in ctrl.getTopics()">
      <label>
        <input type="checkbox" ng-model="ctrl.filter[topic]" />
        {{ topic }}
      </label>
    </div>
  </div>
  <div id="lecture-list-container">
    <div ng-repeat="lecture in (ctrl.lectures | filter:ctrl.filterByTopic) as filteredLectures">
      <div id="lecture-{{lecture.id}}" class="well col-md-7">
        <h4><a ui-sref="show({id: {{lecture.id}}})">{{ lecture.title }}</a> <small>({{ lecture.duration }})</small></h4>
        <p>Topic: {{ lecture.topic }} <br>
        <small>Published on {{ lecture.published }}</small></p>
      </div>
    </div>
  </div>
</div>
