<div class="container">
  <div ng-controller="LecturesCtrl as lecture">
    <div class="well col-md-10 col-md-offset-1">
      <h3>You can filter by topic and/or search for a lecture</h3>
      <div ng-repeat="topic in lecture.getTopics()" class="topic_checkbox col-md-3">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="lecture.filter[topic]" />
          {{ topic }}
        </label>
      </div>
      <div class="col-md-12">
        <br>
        <div class="input-group input-group-md">

          <span class="input-group-addon" id="sizing-addon1">Search</span>
          <input ng-model="lecture.search" ng-change="lecture.refilter()" class="form-control" placeholder="e.g. Ruby, Rails, JavaScript, etc." />
        </div>
        <hr class="style-four">
      </div>
      <div id="lecture-list-container">
        <div ng-repeat="lecture in (lecture.filteredList | filter:lecture.filterByTopic) as filteredLectures">
          <div id="lecture-{{lecture.id}}" class="col-md-12">
            <h4><a ui-sref="show({id: {{lecture.id}}})">{{ lecture.title }}</a> <small>({{ lecture.duration }})</small></h4>
            <p><strong>Topic: {{ lecture.topic }}</strong> <br>
            <small>Published on {{ lecture.published }}</small></p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
