<div class="container">
  <div class="well col-md-10 col-md-offset-1">
    <div ng-controller="LectureCtrl">
      <div id="lecture-list-container">
          <h3>{{lecture.title}} <small>({{lecture.duration}})</small> <button class="btn-link"><i class="fa fa-star fa-2x like-star"></i></button></h3>
      </div>

      <div id="lecture-view-container">
        <p><strong>Topic: {{lecture.topic}}</strong></p>
        <p>
          Published at {{lecture.published | date: 'mediumDate'}} <br>
          <div class="embed-responsive embed-responsive-16by9 text-center">
            <youtube-video class="embed-responsive-item" video-id="lectureEmbed"></youtube-video>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
