<div ng-controller="LecturesCtrl">
  <div id="lecture-list-container">
    <ul>
      <li ng-repeat="lecture in lectures">
        <h3>{{lecture.title}} <small>({{lecture.duration}})</small></h3>
      </li>
    </ul>
  </div>

  <div id="lecture-view-container" ng-show="selectedLecture">
    <h2>{{selectedLecture.title}}</h2>
    <p>{{selectedLecture.topic}}</p>
    <p>
      Published at {{selectedLecture.published | date: 'mediumDate'}}
      - <a ng-href="{{selectedLecture.url}}">{{selectedLecture.url}}</a>
    </p>
  </div>
</div>
