<div ng-controller="LecturesCtrl">
  <div id="lecture-list-container">
    <ul>
      <li ng-repeat="lecture in lectures">
        <h3>{{lecture.title}} <small>({{lecture.duration}})</small></h3>
      </li>
    </ul>
  </div>
</div>
