.topic_checkbox {
  display: inline-block;
}


.main-header {
  background-color: #01B2E5;
  height: 400px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.title {
  padding-top: 50px;
  color: white;
  text-align: center;
}

.header-h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3.5em;
  color: white;
}

.header-h4 {
  margin: 0;
  font-size: 2em;
  color: white;
}

footer {
  background: white;
}

.flatback {
  background-color: #01B2E5;
}
