.topic_checkbox {
  display: inline-block;
}


.main-header {
  background-color: #01B2E5;
  height: 400px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.title {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.header-h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 4em;
  color: white;
}

.header-h4 {
  margin: 0;
  font-size: 2em;
  color: white;
}

footer {
  background: white;
}
