<div class="container">
  <div class="col-md-8 col-md-offset-2 well">
    <h1 class="text-center">About Flatcasts</h1>
    <p class>
      For my final project at <a href="http://www.flatironschool.com" target="_blank">Flatiron School's</a> online campus, I decided to make something to ease a reoccurring problem: finding a lecture. It is all too common in our Slack channel to see someone looking for a particular lecture. There were Google docs but you could not always find the lecture you wanted.
    </p>
    <p>
      Enter Flatcasts. A community maintained, one-stop shop for all Flatiron lectures. Lectures can be easily added to the database by simply entering in the YouTube URL and lecture topic. The lecture will then be able to be found on the lectures page. You can filter by topic or search for a particularly lecture. All lectures can be watched right on the site with the embedded YouTube.
    </p>
    <p>
      If you find any issues or bugs, let me know about them on <a href="https://twitter.com/thebrianemory" target="_blank">Twitter</a>.
    </p>
  </div>
</div>
